*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    display: flex;
    flex-flow: column wrap;
    flex: 1;
    margin: 0;
    padding: 0;
    font: 100%/1.2 sans-serif;
}

body {
    padding: 1rem;
}

header.main-nav {
    margin: 0 0 1rem 0;
}

main {
    position: relative;
}

main > h1 {
    margin: 0 0 1rem 0;
}

ul.attrlist, ul.attrlist li {
    margin: 0;
    padding: 0;
}

ul.attrlist {
    margin: 0 0 0 2rem;
}

ul.attrlist:not(:last-child) {
    margin-bottom: 1rem;
}

ul.actionbar, ul.actionbar > li {
    display: block;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

ul.actionbar {
    margin-bottom: 1rem;
}

ul.actionbar > li {
    display: inline-block;
}

ul.actionbar > li:not([data-header]):not(:last-child)::after {
    content: '\0020|\0020';
}

ul.actionbar > li a {
    color: #000 !important;
}

.notebody {
    border: 1px solid #000;
    border-radius: 3px;
    max-width: 100%;
    min-height: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.notebody p {
    margin: 0;
}

.notebody p:not(:last-child) {
    margin-bottom: 1rem;
}

.bigform {
    display: flex;
    flex-flow: column wrap;
}

.bigform input:not([type=checkbox]),
.bigform textarea,
.bigform button,
.bigform div.editor {
    margin-bottom: 1rem;
}

.barcodeDisplay {
    display: block;
    padding: 0.5rem;
    width: 6rem;
    height: 6rem;
    height: auto;
    float: right;
}

.message {
    border: 1px solid #000;
    border-radius: 3px;
    max-width: 100%;
    margin: 1rem 0;
    padding: 0.25rem 0.5rem;
}

.message.warning {
    background-color: #ffdeb3;
}

.message.warning::before {
    content: 'WARN:\0020';
    font-weight: bold;
}

.message.error {
    background-color: #ffb3b3;
}

.message.error::before {
    content: 'ERR:\0020';
    font-weight: bold;
}
